@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: pink;
    color: palevioletred;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
}

a {
    color: palevioletred;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: palevioletred;
    text-decoration: none;
}

.avatar {
    width: 500px;
    border-radius: 60%;
}


.container {
    margin: auto;
    max-width: 750px;
    text-align: center;
}

h1:hover {
    text-decoration: line-through;
}

.worktable {
    width: 100%;
}

.worktable td {
    padding: 10px;
}

.worktable tr:nth-child(even) {
    background-color: rgb(255, 195, 248);
}

.form-group label {
    display: block;
    font-size: 20px;
    color: palevioletred;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border-color: black;
    border-style: dotted;
    background: transparent;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.btn {
    background: none;
    color: black;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testtable td, tr {
    border: 1px solid gray;
    border-collapse: collapse;
    }
